@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100;500;700;800&display=swap");
:root {
  /* primary */
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);
  /* gradient */
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);
  --voilet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);
  /* neutral */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Hanken Grotesk", sans-serif;
}


.main{
  min-width: 100vw;
  min-height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result{
  color: white;
  min-height: 32rem;
  min-width: 23rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-radius: 1.5rem;
  background-image: linear-gradient(var(--light-slate-blue),var(--light-royal-blue));
}

.res-head {
  padding-top: 2rem;
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.8);

}
p { 
  padding-bottom: 2rem;
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.8);

}


.score-circle {
  min-width: 13rem;
  min-height: 13rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-image: linear-gradient(var(--voilet-blue),var(--persian-blue));
}

.main-score {
  font-size: 4.5rem;
  font-weight: 800;
}

.out-off{
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.5);
}

.great {
  font-size: 2.1rem;
  font-weight: 900;
}

.summary {
min-height: 32rem;
min-width: 23rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.summary li {
  list-style: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: auto;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
