
    .attribution {
      font-size: 11px;
      text-align: center;
    }

    .attribution a {
      color: hsl(228, 45%, 44%);
    }

    
    .main{
      display: grid;
      grid-template-columns: 100%;
      /* padding: 20% 40% 25% 40%; */
      /* margin: 0 auto; */
      background-color: hsl(217, 54%, 11%);
      text-align: center;
      border-style: solid;
      border-color:aqua;
      
      
    }
    .mobile{
      display: grid;
      grid-template-columns: 100%;
      justify-self: center;
      border-style: solid;
      border-color:red;
    }
    .inner_mobile{
      display: flex;
      align-items: center;
      grid-template-rows: 50% 40% 10%;
      justify-self: center;
      border-style: solid;
      border-color:green;
      grid-row-gap: 30%;
    }
    img{
      width: 90%;
    }
    
   
 